*.swp
**/PluginInfo.xml
**/*.prof
**/*.wsettings
**/*.akd
WwiseProject/.cache/*
WwiseProject/FlightSim.wrap2.validationcache
WwiseProject/FlightSim.wrap2.wsettings
WwiseProject/Originals/
American Radio Station/
WwiseProject/.cache/SoundBankInfoCache.dat
