*.swp
**/PluginInfo.xml
**/SoundbanksInfo.xml
**/SoundbankInfoCache.dat
**/*.prof
**/*.wsettings
**/*.akd
**/.cache/**/*
WwiseProject/Originals/
American Radio Station/
WwiseProject/*.*.validationcache
WwiseProject/GeneratedSoundBanks/
