**/*.swp
**/PluginInfo.xml
**/SoundbanksInfo.xml
**/SoundbankInfoCache.dat
**/*.prof
**/*.wsettings
**/*.akd
WwiseProject/.cache/
WwiseProject/GeneratedSoundBanks/
American\ Radio\ Station/
WwiseProject/Originals/
WwiseProject/*.validationcache
WwiseProject/.cache/SoundBankInfoCache.dat
WwiseProject/FlightSim.mediaid
WwiseProject/GeneratedSoundBanks/Windows/local_soundbank.bnk